---
---

@charset "utf-8";
@import "font";
@import "colors";

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;



*{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: $primary;
}


html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  background-color: $background;
  position: relative;
  overflow-x: hidden;
  @media #{$medium-and-up}{
    width: calc(100% - 80px);
    margin-left: 80px;
  }

  @media #{$small-and-down}{
    width: 100%;
    margin-left: 0px;
  }

  font-family: 'Montserrat', sans-serif;
  height: 100%;
  z-index: -1;

}

h1, h2, h3{
  font-family: 'Roboto Mono';
}

.black {
  color: black;
}

.roboto{
  font-family: 'Roboto Mono';
}

.montserrat{
  font-family: 'Montserrat';
}

nav.sidenav{
  position: fixed;
  z-index: 990;
  min-width: 80vw;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $primary;
  color: $on-primary;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: max-width 0.5s cubic-bezier(0.05, 0.1, 0.1, 1.0), left 0.5s cubic-bezier(0.05, 0.1, 0.1, 1.0);
  padding: 20px 0px;

  @media #{$small-and-down}{
    box-shadow: 0 4px 4px 0px rgba(#000, 0.2), 0px 8px 12px 6px rgba(#000, 0.15);
  }

  .nav-close{
    display: none;
    @media #{$small-and-down}{
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 1vw;
    }
  }
  @media #{$medium-and-up}{
    max-width: 80px;
  }

  @media #{$small-and-down}{
    left: -105vw;
  }

  .nav-zone{
    display: flex;
    flex-direction: column;
    a{
        color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 8px 12px;
      .nav-icon{
        box-sizing: border-box;
        flex-shrink: 0;
        display: block;
        width: 56px;
        height: 36px;
        border-radius:28px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &.active{
          background-color: rgba(#fff, 0.2);
        }
        img{
          width: 32px;
        }
        i {
          font-size: 24px;
        }
      }
      .nav-text{
        display: block;
        flex-shrink: 0;
        margin-left: 10px;
        margin-right: 10px;
        @media #{$medium-and-up}{
          opacity: 0;
        }
        transition: opacity 0.5s cubic-bezier(0.05, 0.1, 0.1, 1.0);
      }
    }

    a:hover{
      .nav-icon{
        border: 2px solid rgba(#fff, 0.6);
      }
    }
  }

}

.mobile-nav{
  margin: 0rem 1rem;
  display: none;

  @media #{$small-and-down} {
    display: flex;
    height: 2.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 1.1rem;
    left: 0;
    right: 0;
    z-index: 800;
  }

  .site-title{

    a{
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      .logo img{
        width: 7vw;
        margin-right: 1rem;
      }
      .site-name{
        font-weight: 800;
        color: $primary;
        font-size: 5vw;
      }
    }
  }

  .nav-trigger{
    &:hover, &:focus{
      background-color: rgba($outline,0.2);
      background-blend-mode: color-burn;

    }

  }

  .dummy{
    width: calc(8vw + 0.6rem);
    flex-shrink: 0;
  }
}

.circular-button{
  padding: 0.3rem;
  width: 8vw;
  height: 8vw;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  display: flex;
  i{
    font-size: 7vw;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

.card{
  @extend .border-radius;
  display: block;
  padding: 2.2rem;
  box-sizing: border-box;
  background-blend-mode: hard-light;
  position: relative;
  margin: 6px;

  h3{
    margin-bottom: 0.5rem;
  }
  &.small-title{
    h3{
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;

    }
  }

  &.big-text{
    p{
      font-size: 2rem;
      font-weight: 500;
    }
  }

  &.icon-top>i.material-symbols-outlined{
    position: absolute;
    right: 1.5rem;
    top:1rem;
    font-size: 2rem;
  }


  &.horizontal{
    &.circle-image{

      display: flex;
      flex-direction: column;
      .card-header{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
        .card-image{
          img{
            width: 3rem;
            height: 3rem;
            object-fit: scale-down;
              border-radius: 50%;
          }
        }
        .card-title{
          flex: 1;
          h2{
            font-weight: 700;
            font-size: 1.3rem;
          }
          .card-subtitle{
            font-size: 0.9rem;
            font-weight: 400;
            opacity: 0.8;
          }


        }
      }

    }
  }

  &.expandable{
    padding: 0px;
    transition: box-shadow 0.5s cubic-bezier(0.05, 0.1, 0.1, 1.0), border-radius 0.5s cubic-bezier(0.05, 0.1, 0.1, 1.0);
    justify-content: flex-start;
    overflow: hidden;
    @extend .z-depth-1;

    &:not(.opened):hover{
      @extend .z-depth-3;
    }

    &.primary{
      .card-content{
        background-color: $primary-container  !important;
        flex: 1;
      }

    }

    .card-header{
      @extend .border-radius;
      transition: all 0.5s cubic-bezier(0.05, 0.1, 0.1, 1.0);
      padding: 1rem 2rem;
      background-color: $palette-primary90 !important;

    }

    &.opened{
      position: fixed;
      z-index: 999;
      overflow-y: hide;
      @media #{$small-and-down}{
        .card-header{
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }
      }
      .trigger-close{
        display: block;
        z-index: 999;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#fff,0.5);
      }
      .card-content{
        overflow-y: scroll;
      }
    }

    .card-content{
      padding: 0rem 1rem;
      margin: 1rem 1rem;

      .reveal{
        display: none;
      }

      &::-webkit-scrollbar-track
      {
        background-color: transparent;
        border-radius: 3px;

      }

      &::-webkit-scrollbar
      {

        width: 6px;
        left: 100px;
        }

      &::-webkit-scrollbar-thumb
      {
        background-color: $primary;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:hover
      {
        background-color: $palette-primary25;

      }
    }



  }
}


.primary{
  background-color: $primary-container;
  color: $on-primary-container;
}


.secondary{
  background-color: $secondary-container;
  color: $on-secondary-container;
}



// CONTENT MANAGEMENT

.super{
  vertical-align: super;
  font-size: 70% !important;
}

.container{
  box-sizing: border-box;
  padding: 12px;
  max-width: 1200px;
  margin: auto;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  align-items: stretch;
  align-content: space-between;
  justify-content: center;
}

.col{
  box-sizing: border-box;
  padding: 6px 0;
  .card.fullheight{
    height: 100%;
  }
}

.right-text{
  text-align: right;
}

.primary-text{
  color: $primary !important;
}

@for $i from 1 through 15 {
  $perc: unquote((100 * $i / 15)+"%");

  .s#{$i}{
      width: $perc;

  }
}

@for $i from 1 through 15 {
  $perc: unquote((100 * $i / 15)+"%");

  .m#{$i}{
    @media #{$medium-and-up}{
      width: $perc;

    }
  }
}
@for $i from 1 through 15 {
  $perc: unquote((100 * $i / 15)+"%");

  .l#{$i}{
    @media #{$large-and-up}{
      width:$perc;

    }
  }
}



.page-title{
  @extend .card;
  overflow: hidden;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media #{$medium-and-down}{
    min-height: 30vh;
  }

  &::before{
    background-image: linear-gradient(rgba($primary, 0), rgba($primary, 0.3));
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index:0;
    content: '';

  }

  &::after{
    background-image: url("{{site.url}}/img/skyline.png");
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 0;
    content: '';
    bottom: -100px;
    left:-20px;
    right: -20px;
    mix-blend-mode:soft-light;
    background-position-x: center;
    background-position-y: -20px;
    background-size: cover;
    background-repeat: no-repeat;



  }

  .content{
    max-width: 1200px;
    z-index: 2;
    margin: auto;
  }
  .title-text{

    z-index: 2;
    h1{
      font-size: 6vw;
      font-weight: 600;
      padding: 3rem;
    }

    @media #{$medium-and-down}{
      h1{
        font-size: 11vw;
        padding: 5vw;
      }
    }

    @media #{$small-and-down}{
      h1{
        padding: 0px;
      }
    }
  }
  .title-image~.title-text{
    h1{
      font-size: clamp(5rem, 11vw, 10rem);
      font-weight: 800;
      padding: 0rem;
    }
    h2{
      line-height: 5vw;
      font-size:8vw;
      font-weight: 800;
    }

    h3{
      flex: 1;
      font-size: 4vw;
      font-weight: 300;
      margin-top: 3rem;
    }

    @media #{$medium-and-down}{
      text-align: center !important;
      line-height: 10vh;
      h1{
        font-size: clamp(1rem, 15vw, 4rem);
      }

      h2{
        font-size: clamp(1rem, 12vw, 3.5rem);
      }
      h3{
        font-size: 2rem;
        margin-top: 0rem;
      }
    }
  }
    .title-image{
      max-width: clamp(10vw, 80%, 40vh);
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      img{
        max-width: 100%;
        object-fit: contain;
      }
    }
  }




.text-section{

  &.primary{
    @extend .card;
    background-color: rgba($primary-container, 0.5);
  }
  padding-top: 2rem;
  padding-right: 5rem;
  padding-left: 5rem;
  @media #{$small-and-down}{
    padding: 1rem;
  }

  h2{
    color: $on-primary-container;
    margin-bottom: 2rem;
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    font-size: clamp(2rem, 7vw, 4rem);

  }
  p{
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    line-height: clamp(2rem, 5vw, 2.4rem);
    text-align: center;
    font-weight: 500;
    @media #{$small-and-down}{
      text-align: justify;

    }
  }
}



#schedule{
  .schedule-header{
    padding: 1.8rem 2rem;

    h2{
      font-weight: 600;
      font-size: 1.5rem;
    }

    h3{
      font-weight: 400;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  .schedule-activity{
    padding: 2rem;
    position: relative;
    &:not(:last-child)::after{
        position: absolute;
        bottom: 0px;
        width: calc(100% - 4rem);
        border-bottom: solid 1px $outline;
        content: '';
    }

  .activity{


    &-time{
      color: black;
      font-weight: 600;
      font-size: 1.4rem;
      display: inline-flex;
      flex-direction: row;
      align-items: center;

      i{
        font-size: 1.5rem;
        width: 2rem
      }
    }

    &-location{
      color: black;
      display: inline-flex;

      flex-direction: row;
      align-items: center;
      i{
        width: 1.8rem;
        font-size: 1.2rem;
      }
    }

    &-title{
      color: black;
      font-size:1.5rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    &-description{
      font-size: 0.93rem;
      color: black;
    }
  }
}
}



#speakers{
  .card{
    justify-content: center;
    height: 100%;
  }
  .speaker-biography{
    margin-top: 1rem;
  }
  .speaker-title{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
  }
  .speaker-date{
    display: flex;
    @extend .roboto;
    justify-content: start;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    opacity: 0.7;
    & > i{
      font-size: 1.2rem;
    }
    & > span{
      font-size: 0.8rem;
    }
  }
}

#faq{

  .question{
    font-size: 1.6rem;
    margin-top: 0rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
  }
  .answer{
    margin-top: 0rem;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }
}

.accordion{
  margin: 0rem 0.5rem;
  @extend .border-radius;
  overflow: hidden;
  position: relative;

    &-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &::after{
        font-family: 'Material Symbols Outlined';
        font-size: 2rem;
        content: '\e7cd';
        margin-right: 1.5rem;
        transition: transform 0.5s cubic-bezier(0.05, 0.1, 0.1, 1.0);
      }

      &.expanded{
        &::after{
          transform: rotate(-180deg);
        }
      }
    }

   &-content{
    margin-top: 0rem;
    @media #{$medium-and-down}{
        height: 0px;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.05, 0.1, 0.1, 1.0);
      }
  }

}


.ripple{
  background-blend-mode: hard-light;
}

.overlay{
  display: none;
  position:fixed;
  z-index: 500;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.2;
}



.z-depth-1{
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30), 0px 1px 3px 1px rgba(0,0,0,0.15);
}

.z-depth-2{
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.30), 0px 2px 6px 2px rgba(0,0,0,0.15);
}

.z-depth-3 {
  box-shadow:  0px 1px 3px 0px rgba(0,0,0,0.30), 0px 4px 8px 3px rgba(0,0,0,0.15);
}

.z-depth-4 {
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.30), 0px 6px 10px 4px rgba(0,0,0,0.15);
}

.z-depth-5 {
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.30), 0px 8px 12px 6px rgba(0,0,0,0.15);
}

.border-radius{
  border-radius: 1.2rem;
}

.border-sharp{
  border-radius: 0px !important;
}


.form-field{

  position: relative;
  margin: 1rem 1rem;

  &-text + &-label,
  &-textarea + &-label{
    position: absolute;
    left: 1rem;
    top: 0.9rem;
    background: white;
    white-space: nowrap;
    transform: translate(0, 0);
    padding: 0.5rem;
    transform-origin: 0 0;
    transition: transform 120ms ease-in;
    font-weight: bold;
    box-sizing: border-box;
    color: $outline;
    //line-height: 1.2;

 }

 &-text, &-textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid;
  border-color: $outline;
  padding: 0.75rem 0.5rem;
  color: $primary;
  background: transparent;
  border-radius: 10px;
  height: 4rem;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: bold;
  padding: 0rem 1rem;
  &:focus, &:not(:placeholder-shown) {
    outline: none;
    border-color: $primary !important;
    & + .form-field-label {
      transform: translate(0px, -1.55rem) scale(.8);
      color: $primary !important;
    }
  }
}

&-textarea{
  height: fit-content;
  min-height: 15rem;
  padding: 1rem 1rem;
}

&.form-submit .btn{
  background-color: blue;
  background-color: $primary;
  color: $on-primary;
  border: none;
  height: 3rem;
  padding: 0rem 2rem;
  font-family: "Montserrat";
  font-weight: 700;
  @extend .z-depth-2;
  border-radius: 1.5rem;
  font-size: 1rem;
}
}

/* dropdown faq */
.dropdown {
  display: block;
  margin: auto;
}
.dropdown__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: background .3s ease;
    will-change: background;
  &::after {
    content: '\f13a';
    font: 30px 'FontAwesome';
    transition: transform .5s ease;
    will-change: transform;
  }
}
.open .dropdown__top::after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.dropdown__btm {
    display: none;
}
.question{display: inline}


/* lock speakers */
#speakers {
  .col {
     .card-header {
      filter: blur(6px);
      &:hover { filter: blur(4px);}
    }    
    &::before {
      content: '\f023';
      font: 90px 'FontAwesome';
      color: #957000;
      z-index: 200;
      position: relative;
      top: 5px;
      margin-left: 0rem;
      transition: transform .5s ease;
      display: block;
      text-align: center;
      height: 0px;
    }
  }
} 


/* custom color for every page */

.FAQ{
  background: rgba(90,161,104,1);
  background: linear-gradient(0deg, rgba(90,161,104,1) 0%, rgba(255,255,255,1) 100%);
  color:white;
 } 

#faq {
  .col .primary {
    background: rgba(210,255,233,1);
    &:hover{background: rgba(160,233,198,1);}
  }
}

.Speakers{
 background: rgb(255,216,24);
background: linear-gradient(0deg, rgba(255,216,24,1) 0%, rgba(255,255,255,1) 100%);
  color:white;
 } 

#speakers {
  .col div {
    background: rgb(255,245,193)!important;
  }
  .col .card-header{
    background: rgb(255,216,24)!important;
    & div{background: rgb(255,216,24)!important;}
  }
}

.form-field.form-checkbox{
  position: relative;
  margin: 1em;
  text-align: left;

  label{
    cursor: pointer;
    display: inline;
    line-height: 1.55rem;
    vertical-align: top;
    font-family: "Montserrat";
    font-weight: 600;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: 0.75rem;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      // box
      width: 1.25rem;
      height: 1.25rem;
      background: #fff;
      border: 2px solid #222;
      border-radius: 0.125rem;
      cursor: pointer;
      transition: background .3s;
    }

    &:after {
      // checkmark
    }
  }


  input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: 1.25rem;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;

    &:checked {
       + label:before{
        background: $primary;
        border-color: $primary;
      }
      + label:after {

        $checkmark-size: 0.75rem;

        transform: translate(0.3rem, 0.3rem) rotate(-45deg);
        width: $checkmark-size;
        height: $checkmark-size / 2;

        border: 0.2rem solid white;
        border-top-style: none;
        border-right-style: none;
      }
    }
}
}
