---

layout: default
title: Forms
---

{% include title.html data=site.data.forms.title %}


{% for form in site.data.forms.forms %}
  <form action="{{form.action}}" method="post">
    <h3>{{form.id}}</h3>

    {% for field in form.fields %}
      <label for="{{field.id}}">{{field.label}}</label>
      {% if field.type == "textarea" %}
        {% if field.required == true %}
          <textarea id="{{field.id}}" name="{{field.name}}" required></textarea><br/>
        {% else %}
          <textarea id="{{field.id}}" name="{{field.name}}"></textarea><br/>
        {% endif %}
      {% else %}
        {% if field.required == true %}
          <input type="{{field.type}}" id="{{field.id}}" name="{{field.name}}" value="{{field.value}}" required /><br/>
        {% else %}
        <input type="{{field.type}}" id="{{field.id}}" name="{{field.name}}" value="{{field.value}}" /><br/>
        {% endif %}
      {% endif %}
    {% endfor %}

    <input type="submit" value="{{form.submit}}"/>
  </form>
{% endfor %}