---

layout: default
title: Registration
---

{% include title.html data=site.data.forms.title %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

{% for form in site.data.forms.forms %}
  {% if form.id != "registration" %}
    {% continue %}
  {% endif %}
  <form action="">
    <h3>{{form.id}}</h3>

    {% for field in form.fields %}
      <label for="{{field.id}}">{{field.label}}</label>
      {% if field.type == "textarea" %}
        {% if field.required == true %}
          <textarea id="{{field.id}}" name="{{field.name}}" required></textarea><br/>
        {% else %}
          <textarea id="{{field.id}}" name="{{field.name}}"></textarea><br/>
        {% endif %}
      {% else %}
        {% if field.required == true %}
          <input type="{{field.type}}" id="{{field.id}}" name="{{field.name}}" value="{{field.value}}" required /><br/>
        {% else %}
        <input type="{{field.type}}" id="{{field.id}}" name="{{field.name}}" value="{{field.value}}" /><br/>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!--<input type="submit" value="{{form.submit}}"/> -->
    <button type="submit" id="{{form.id}}">{{form.submit}}</button>
  </form>

  <script>
    $(function() {
      $('#{{form.id}}').submit(function(e) {
        alert('function');
        e.preventDefault();
 
        //var iframe = document.createElement("iframe");
        //var uniqueString = "PLANCKS_2023_IFRAME_NAME_{{form.id}}";
        //document.body.appendChild(iframe);
        //iframe.style.display = "none";
        //iframe.contentWindow.name = uniqueString;

        //var form = document.createElement("form");
        //form.target = uniqueString;
        //form.action = "{{form.action}}";
        //form.method = "POST";

        //{% for field in form.fields %}
          //var input = document.createElement("");
          //input.type = "hidden";
          //input.name = "{{field.name}}";
          //input.value = document.getElementById("{{field.id}}").val();
          //form.appendChild(input);
        //{% endfor %}

        //document.body.appendChild(form);
        //form.submit();
        var data = {
          {% for field in form.fields %}
          '{{field.name}}': $('#{{field.id}}').val(), 
          {% endfor %}
        };
        $.ajax({
          type: 'POST',
          url: '{{form.action}}',
          crossDomain: true,
          data: data,
          contentType: 'application/json',
          dataType: 'jsonp',
          complete: function() {
            alert('send success');
          }
        });
      });
    });

  </script>
{% endfor %}