---

layout: default
title: Schedule
---

{% include title.html data=site.data.schedule.title %}


<div id="schedule" class="row">
  {% for day in site.data.schedule.schedule %}
  <div class="col l3 m5 s15">
    <div class="accordion z-depth-1">
    <div class="accordion-header ripple schedule-header secondary">
      <h3>Day {{day.day}}</h3>
      <h2>{{day.date}}</h2>
    </div>
    <div class="accordion-content collapsed">
    {% for activity in day.activities %}
      <div class="schedule-activity primary ripple">
        <div class="activity-time"><i class="material-symbols-outlined">schedule</i>{{activity.time}}</div>
        <div class="activity-location"><i class="material-symbols-outlined">location_on</i>{{activity.location}}</div>
        <div class="activity-title roboto">{{activity.title}}</div>
        <div class="activity-description">{{activity.description}}</div>
      </div>
    {% endfor %}
    </div>
    </div>
  </div>
  {% endfor %}
</div>