{% assign current = page.url | downcase | split: '.' %}

<nav class="sidenav">
{{data.menu}}

{% for zone in site.data.menu %}
    <ul class="nav-zone">
        {% for item in zone.nav-zone %}
          <li>
            <a href="{{site.url}}{{item.url}} ">
              <span class="nav-icon {% if current[0] == (append: item.url %} active {% endif %}">
                {% if item.icon %}
                  <i class="material-symbols-outlined">{{item.icon}}</i>
                {% endif %}
                {% if item.icon-url%}
                  <img src="{{ site.url}}/img/{{item.icon-url}}">
                {% endif %}
              </span>
              <span class="nav-text">{{item.text}}</span>
            </a>
          </li>
        {% endfor %}
    </ul>
  {% endfor %}
</nav>

<div class="mobile-nav">
  <div class="nav-trigger ripple" >
    <i class="material-symbols-outlined">menu</i>
  </div>

  {% unless page.show-title != nil %}
    <div class="site-title">
      <a  href="{{site.url}}">
        <div class="logo">
          <img src="{{site.url}}/img/{{site.data.index.logo}}">
        </div>
        <div class="site-name">{{site.data.generic.title}}</div>
      </a>
    </div>
    {% endunless %}
    <div class="dummy"></div>
</div>
