:root {
  --md-source: #00087a;
  /* primary */
  --palette-primary0: #000000;
  --palette-primary10: #000668;
  --palette-primary20: #172187;
  --palette-primary25: #252e92;
  --palette-primary30: #323b9d;
  --palette-primary35: #3e48aa;
  --palette-primary40: #4b54b7;
  --palette-primary50: #646ed2;
  --palette-primary60: #7e88ee;
  --palette-primary70: #9ba4ff;
  --palette-primary80: #bdc2ff;
  --palette-primary90: #e0e0ff;
  --palette-primary95: #f1efff;
  --palette-primary98: #fbf8ff;
  --palette-primary99: #fffbff;
  --palette-primary100: #ffffff;
  /* secondary */
  --palette-secondary0: #000000;
  --palette-secondary10: #410006;
  --palette-secondary20: #680010;
  --palette-secondary25: #7d0015;
  --palette-secondary30: #93001a;
  --palette-secondary35: #a80421;
  --palette-secondary40: #ba192b;
  --palette-secondary50: #dd3640;
  --palette-secondary60: #ff5358;
  --palette-secondary70: #ff8986;
  --palette-secondary80: #ffb3b0;
  --palette-secondary90: #ffdad8;
  --palette-secondary95: #ffedeb;
  --palette-secondary98: #fff8f7;
  --palette-secondary99: #fffbff;
  --palette-secondary100: #ffffff;
  /* tertiary */
  --palette-tertiary0: #000000;
  --palette-tertiary10: #281800;
  --palette-tertiary20: #442c00;
  --palette-tertiary25: #523600;
  --palette-tertiary30: #614000;
  --palette-tertiary35: #704b00;
  --palette-tertiary40: #805600;
  --palette-tertiary50: #a16d00;
  --palette-tertiary60: #c28400;
  --palette-tertiary70: #e39e1a;
  --palette-tertiary80: #ffba46;
  --palette-tertiary90: #ffddb0;
  --palette-tertiary95: #ffeedb;
  --palette-tertiary98: #fff8f3;
  --palette-tertiary99: #fffbff;
  --palette-tertiary100: #ffffff;
  /* neutral */
  --palette-neutral0: #000000;
  --palette-neutral10: #030865;
  --palette-neutral20: #1e2578;
  --palette-neutral25: #2b3284;
  --palette-neutral30: #373e90;
  --palette-neutral35: #434a9c;
  --palette-neutral40: #4f56a9;
  --palette-neutral50: #6870c4;
  --palette-neutral60: #8289e0;
  --palette-neutral70: #9ca4fd;
  --palette-neutral80: #bec2ff;
  --palette-neutral90: #e0e0ff;
  --palette-neutral95: #f1efff;
  --palette-neutral98: #fbf8ff;
  --palette-neutral99: #fffbff;
  --palette-neutral100: #ffffff;


  /* light */
  --primary:              #4A58A9;
  --on-primary:           #ffffff;
  --primary-container:    #e0e0ff;
  --on-primary-container: #000668;
  --tertiary:            #ba192b;
  --on-tertiary:         #ffffff;
  --tertiary-container:  #ffdad8;
  --secondary-container: #ffddb0;
  --on-secondary-container: #281800;
  --background: #fffbff;
  --on-background: #030865;
  --surface: #fffbff;
  --on-surface: #030865;
  --surface-variant: #e3e1ec;
  --on-surface-variant: #46464f;
  --outline: #777680;
}
